Checks: bugprone-*,
        llvm-twine-local,
        llvm-prefer-isa-or-dyn-cast-in-conditionals,
        misc-definitions-in-headers,
        misc-uniqueptr-reset-release,
        misc-static-assert,
        misc-redundant-expression,
        misc-include-cleaner,
        modernize-make-shared,
        modernize-make-unique,
        modernize-deprecated-headers,
        modernize-use-override,
        modernize-use-using,
        performance-*,
        readability-magic-numbers,
        readability-qualified-auto,
        readability-redundant-smartptr-get,
        readability-redundant-string-cstr,
        readability-simplify-boolean-expr,
        readability-simplify-subscript-expr,
        readability-string-compare,
        readability-uniqueptr-delete-release
